.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
}

h1 {
  margin: 0;
}

.header h1 {
  padding: 20px 0;
  text-align: center;
  color: white;
}
