.flexContainer {
  display: flex;
  justify-content: space-around;
}

.characteristicContainer {
  margin-top: 40px;
}

.pathInput {
  width: 30px;
}

.findPathContainer {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
